ai-content-pipeline.json
{
  "name": "AI Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "d8266ccf-6dbc-4b4e-b86b-fa4702abe735",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const topics = [\n  \"standardised testing\", \"mental health\", \"creativity\", \"screen time\",\n  \"peer pressure\", \"teacher burnout\", \"university debt\", \"learning differences\",\n  \"bullying\", \"curriculum relevance\", \"parental influence\",\n  \"identity development\", \"critical thinking\", \"school anxiety\", \"gifted children\",\n  \"special needs\", \"exam pressure\", \"school uniforms\", \"early years education\",\n  \"school meals\", \"physical education\", \"art and music cuts\", \"reading habits\",\n  \"sleep deprivation\", \"social media in schools\", \"parental pressure\"\n];\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.usedTopics) {\n  staticData.usedTopics = [];\n}\n\nif (staticData.usedTopics.length >= topics.length - 3) {\n  staticData.usedTopics = [];\n}\n\nconst available = topics.filter(t => !staticData.usedTopics.includes(t));\nconst shuffled = available.sort(() => Math.random() - 0.5);\nconst todayTopics = shuffled.slice(0, 3);\n\nstaticData.usedTopics = [...staticData.usedTopics, ...todayTopics];\n\nreturn [{ json: { \n  topic1: todayTopics[0], \n  topic2: todayTopics[1], \n  topic3: todayTopics[2] \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "id": "9b974841-1631-4ff9-b7d4-c48df777af82",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "YOUR_CLAUDE_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Today is {{ $now.format('dddd Do MMMM YYYY') }}. Generate 3 TikTok posts for an author account called Adam Carter about education and parenting. STRICT RULES — each post must cover exactly these topics and no other: POST 1 topic: {{ $('Code in JavaScript').item.json.topic1 }}. POST 2 topic: {{ $('Code in JavaScript').item.json.topic2 }}. POST 3 topic: {{ $('Code in JavaScript').item.json.topic3 }}. POST 1 format: CONTROVERSIAL OPENER — bold statement that resolves into truth. POST 2 format: STORY TIME — unique emotional story with different name and situation every time. POST 3 format: HOT TAKE — sharp opinion that makes people think. Each post needs: 1) 7 slides bold punchy uppercase text 2) Caption max 5 hashtags ending with: Follow @adamcarterauthor for daily posts on education and parenting 👆 3) An IMAGE SEARCH term for Pexels that must return only empty rooms, buildings, books, desks, libraries or landscapes — never include words like people, person, student, teacher, child, family or any living being in the search term — no humans animals or cartoons ever. Label clearly as POST 1, POST 2, POST 3 and include IMAGE SEARCH: for each.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [416, 0],
      "id": "ba743753-f386-4ae9-a967-2bd5031c5365",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ encodeURIComponent($('HTTP Request').item.json.content[0].text.match(/IMAGE SEARCH:\\s*(.+)/)?.[1]?.trim() ?? 'empty classroom') }}+no+people+no+humans&per_page=3&orientation=portrait&size=large",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_PEXELS_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [624, 0],
      "id": "1268de1a-c054-41f4-a0a8-73b3a1e4750a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hcti.io/v1/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "=<style>@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*{margin:0;padding:0;}body,html{width:800px;height:1200px;}div.wrap{width:800px;height:1200px;position:relative;background-image:url('{{ $('HTTP Request1').item.json.photos[0].src.portrait }}');background-size:cover;background-position:center;display:flex;align-items:center;justify-content:center;}.overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.45);}.text{position:relative;z-index:2;color:white;font-size:100px;font-family:'Bebas Neue',Impact;text-align:center;padding:50px;line-height:1.1;letter-spacing:6px;text-transform:uppercase;-webkit-text-stroke:2px #FFD700;paint-order:stroke fill;}</style><div class='wrap'><div class='overlay'></div><p class='text'>{{ $('HTTP Request').item.json.content[0].text.match(/1\\.\\s(.+)/)?.[1]?.trim() ?? 'Adam Carter' }}</p></div>"
            },
            {
              "name": "viewport_width",
              "value": "800"
            },
            {
              "name": "viewport_height",
              "value": "1200"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [832, 0],
      "id": "1bfdad0d-b44f-471f-887d-e0edc57aabe5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $('HTTP Request').item.json.content[0].text }}\n\n🖼️ FINISHED SLIDE 1:\n{{ $('HTTP Request2').item.json.url }}\n\n📸 RAW IMAGES:\n1️⃣ {{ $('HTTP Request1').item.json.photos[0].src.portrait }}\n2️⃣ {{ $('HTTP Request1').item.json.photos[1].src.portrait }}\n3️⃣ {{ $('HTTP Request1').item.json.photos[2].src.portrait }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 0],
      "id": "9e168cba-a0d9-48ee-b5be-f77876d30614",
      "name": "Send a text message"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]
    },
    "Code in JavaScript": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "HTTP Request1", "type": "main", "index": 0}]]
    },
    "HTTP Request1": {
      "main": [[{"node": "HTTP Request2", "type": "main", "index": 0}]]
    },
    "HTTP Request2": {
      "main": [[{"node": "Send a text message", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
