freelance lead bot.json
{
  "name": "freelance lead bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "288f0686-7b8b-446d-a037-b38263e4920c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/remote-jobs.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "f040fa40-cac5-4a57-b3fc-600705c6e31b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "f09c19c6-905a-44f4-bc29-fef8b52fd337",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "dc0c2fb2-fbfa-4c31-8e51-b15c7d33b8de",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdc4b47f-0e5c-4aae-af9b-27e64ec63e0c",
              "leftValue": "={{ $json.title }}",
              "rightValue": "automation",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d38d7249-8933-4c0c-b6a3-0f6d32b53d24",
              "leftValue": "={{ $json.title }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5c33bfd4-7596-4e90-947f-1abab03759eb",
              "leftValue": "={{ $json.title }}",
              "rightValue": "n8n",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "25df1a25-53ce-4354-8614-44b914a972f4",
              "leftValue": "={{ $json.title }}",
              "rightValue": "workflow",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2fc8abef-7381-45f1-9360-c15b563f975a",
              "leftValue": "={{ $json.title }}",
              "rightValue": "zapier",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d70b8d8-19f1-49ad-89d3-cc7415ef49af",
              "leftValue": "={{ $json.title }}",
              "rightValue": "make.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "00f40c16-0837-4ffe-af77-8736f65c71fa",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1760670052",
        "text": "=🤖 New Job Lead!  📌 {{ $json.title }}  🔗 {{ $json.link }}  📅 {{ $json.pubDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -96
      ],
      "id": "83e8a1e4-8467-4599-b9e5-4212fa9ba5ee",
      "name": "Send a text message",
      "webhookId": "6359e3ea-9dde-48a0-a81c-35d9c485a1cc",
      "credentials": {
        "telegramApi": {
          "id": "k2jUGzyME1RuAIn6",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "63dad31f-f4f9-4308-81ee-bebd6d2b0226",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43ebff2dc62e907cc26ac071c50b1c1616b24202d1af170aba8cf12853dc49cc"
  },
  "id": "3aTQOzgQBzxPsQXp",
  "tags": []
}