lead-generation-bot.json
{
  "name": "Lead Generation Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "1bfdbf1a-cddf-4466-b3a5-c101bb967a88",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/categories/remote-programming-jobs.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "f673f8e8-7524-4793-af1f-4684930f3053",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [416, 0],
      "id": "6e7847b2-9777-46b7-8bc0-bb4961d0d551",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.item.json.rss.channel.item;\n\nconst jobs = items.slice(0, 10).map(job => {\n  return {\n    title: job.title || 'No title',\n    region: job.region || 'Remote',\n    category: job.category || 'General',\n    link: job.link || 'No link'\n  };\n});\n\nreturn jobs.map(job => ({ json: job }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 0],
      "id": "aa003c51-bd74-4fe5-95e5-e31cc7614f3a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔍 FRESH REMOTE JOBS — {{ $now.format('DD MMM YYYY') }}\n\n{{ $input.all().map((item, i) => \n`${i + 1}️⃣ ${item.json.title}\n📍 ${item.json.region}\n🏷️ ${item.json.category}\n🔗 ${item.json.link}`\n).join('\\n\\n') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [832, 0],
      "id": "1deab05a-4525-437f-a8ee-b98ec3f577d4",
      "name": "Send a text message"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "XML", "type": "main", "index": 0}]]
    },
    "XML": {
      "main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]
    },
    "Code in JavaScript": {
      "main": [[{"node": "Send a text message", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
